<footer class="footer mt-auto pt-4 bg-success">
  <div class="container">
    <p class=" text-center">
      本の貸し借りがオンラインで完結！借りた本は宅配でお届け！！
    </p>
    <div class="d-flex justify-content-center">
      <i class="bi bi-book"></i>
      <p>HISTORIES</p>
    </div>
  </div>
</footer>